body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #000;
}

div.controller {
	padding-top: 80px;
}

header {
	position: fixed;
	top: 0;
	background: #000;
	width: 100%;
	height: 60px;
	margin-bottom: 30px;
	padding: 0 35px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border-bottom: solid 1px #7c7c7c;
}

header img {
	width: 10%;
	float: left;
}

header div.current_colors {
	width: 90%;
	display: flex;
	justify-content: flex-end;
}

div.current_colors span {
	height: 40px;
	width: 120px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	display: inline-block;
	background: #24B4A5;
	margin-right: 10px;
	font-size: 15px;
	border: solid 1px #4F4F4F;
}

div.current_colors span:last-child {
	margin-right: 0;
}

h2 {
	width: 95%;
	margin: 10px auto 20px;
	padding: 5px 10px;
	box-sizing: border-box;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
	            color-stop(.25, #4c4c4c), color-stop(.25, transparent),
	            color-stop(.5, transparent), color-stop(.5, #4c4c4c),
	            color-stop(.75, #4c4c4c), color-stop(.75, transparent),
	            to(transparent));
	background-image: -webkit-linear-gradient(45deg, #4c4c4c 25%, transparent 25%,
	          transparent 50%, #4c4c4c 50%, #4c4c4c 75%,
	          transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, #4c4c4c 25%, transparent 25%,
	          transparent 50%, #4c4c4c 50%, #4c4c4c 75%,
	          transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, #4c4c4c 25%, transparent 25%,
	          transparent 50%, #4c4c4c 50%, #4c4c4c 75%,
	          transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, #4c4c4c 25%, transparent 25%,
	          transparent 50%, #4c4c4c 50%, #4c4c4c 75%,
	          transparent 75%, transparent);
	background-image: linear-gradient(45deg, #4c4c4c 25%, transparent 25%,
	          transparent 50%, #4c4c4c 50%, #4c4c4c 75%,
	          transparent 75%, transparent);
	color: #fff;
}

div.ctrl_button {
	width: 186px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

div.buttons {
	width: 95%;
	margin: 0 auto 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

button.ctrl_btn {
	width: 186px;
	height: 60px;
	line-height: 20px;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: solid 2px #7C7C7C;
	border-radius: 7px;
	background: none;
	color: #fff;
	font-size: 14px;
}

button.ctrl_btn:hover {
	background: #333333;
}

button.active, button.active:hover {
	background: linear-gradient(279deg, #ff5353, #f7ff53, #53ff93, #53c4ff);
	background-size: 1600% 1600%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	-o-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
	border: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

div.thumbnails {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

span.color_thumbnail {
	border: solid 1px #979797;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	margin: 0 6px;
}